Assets/StrokeGenerationAndRendering/TAM_test.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_FINAL_Curved_1024_5k.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_Tone_OLD3.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_Tone_OLD5.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_Tone4.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_Tone5.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_FINAL_15deg_512.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_Tone_OLD2.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_Tone_OLD6.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/MipGenTest_Mip0.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_MIPS.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_Tone3.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_FINAL_15deg.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_Bad.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_FINAL_15d_1024_5kStrokes.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_Tone7.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_Tone8.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_Tone_OLD4.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_Tone1.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_Tone2.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_Tone6.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_Tone_OLD7.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/MipGenTest.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_FINAL_15deg_1024_MoreStrokes.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_FINAL_Curved.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_Tone_OLD8.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_FINAL_15deg_1024.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_OLD.asset filter=lfs diff=lfs merge=lfs -text
Assets/StrokeGenerationAndRendering/TAM_Tone_OLD1.asset filter=lfs diff=lfs merge=lfs -text
